<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>EVA for Publishing</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link href="{{ config['BASE_PATH'] }}static/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ config['BASE_PATH'] }}static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="{{ config['BASE_PATH'] }}static/css/templatemo-topic-listing.css" rel="stylesheet">

    <link href="{{ config['BASE_PATH'] }}static/css/main.css" rel="stylesheet">
    <!--

    TemplateMo 590 topic listing

    https://templatemo.com/tm-590-topic-listing

    -->
</head>

<body id="top">

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <i class="bi-journal-bookmark-fill"></i>
                    <span>EVA for Publishing</span>
                </a>

                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    </ul>
                    <div class="d-none d-lg-block">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                </div>
            </div>
        </nav>


        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">EVA MEETS PUBLISHING</h1>

                        <h6 class="text-center">Ask everything about Agriculture, Deforestation, Climate Change, Renewable energy....</h6>

                        <form id="message-form" action="#" method="post" class="custom-form contact-form" role="form">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="message" name="message" placeholder="Ask me ..."></textarea>
                                        <label for="floatingTextarea">Ask me ...</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>


        <section class="featured-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-12">
                        <div class="custom-block custom-block-overlay">
                            <a class="example-questions" href="#">
                                <div class="d-flex flex-column h-100">
                                    <img src="{{ config['BASE_PATH'] }}static/img/agriculture.jpg" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">Cultivation</h5>
                                            <p class="text-white">How are pruning techniques aimed at enhancing the technical gains in yerba mate cultivation?</p>
                                        </div>
                                    </div>
                                    <div class="section-overlay"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="custom-block custom-block-overlay">
                            <a class="example-questions" href="#">
                                <div class="d-flex flex-column h-100">
                                    <img src="{{ config['BASE_PATH'] }}static/img/deforestation.jpg" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">Disease</h5>
                                            <p class="text-white">How could a global health risk framework potentially mitigate the impact of future outbreaks of Ebola or similar diseases?</p>
                                        </div>
                                    </div>
                                    <div class="section-overlay"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="custom-block custom-block-overlay">
                            <a class="example-questions" href="#">
                                <div class="d-flex flex-column h-100">
                                    <img src="{{ config['BASE_PATH'] }}static/img/climatechange.jpg" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">Finance</h5>
                                            <p class="text-white">How do Ogan Komering Ilir and Kotawaringin Timur represent palm oil sector financial challenges?</p>
                                        </div>
                                    </div>
                                    <div class="section-overlay"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="custom-block custom-block-overlay">
                            <a class="example-questions" href="#">
                                <div class="d-flex flex-column h-100">
                                    <img src="{{ config['BASE_PATH'] }}static/img/renewableenergy.jpg" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">Discourse</h5>
                                            <p class="text-white">How does sports sociology relate to nationalism and national identity?</p>
                                        </div>
                                    </div>
                                    <div class="section-overlay"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="explore-section section-padding" id="section_2">
            <div class="container">
                <div class="col-12 text-center">
                    <a id="user-question-link" href="#">
                        <p id="user-question"></p>
                    </a>
                    <h2 class="mb-4">Answers</h2>
                </div>
            </div>
            <div class="container">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="text-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-6 mb-lg-0">
                                    <div id="gpt-normal-parent" class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <h3 class="mb-2">Chat-GPT's response</h3>
                                                <br>
                                                <p id="gpt-normal" class="mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 mb-6 mb-lg-0">
                                    <div id="eva-output-parent" class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <h3 class="mb-2">EVA's Response</h3>
                                                <br>
                                                <p id="eva-output" class="mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-6 mb-lg-0">
                                    <div id="eva-links-parent" class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <h3 class="mb-2">Related Links</h3>
                                                <br>
                                                <p id="eva-links" class="mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 mb-6 mb-lg-0">
                                    <div id="report-container-parent" class="custom-block bg-white shadow-lg">
                                        <div id="report-container" class="embed-container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>


        <section class="timeline-section section-padding" id="section_3">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4">How does it work?</h1>
                    </div>

                    <div class="col-lg-10 col-12 mx-auto">
                        <div class="timeline-container">
                            <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                <div class="list-progress">
                                    <div class="inner"></div>
                                </div>

                                <li>
                                    <h4 class="text-white mb-3">Data Processing</h4>

                                    <p class="text-white">Raw data is cleaned, processed and converted into small and summarised documents</p>

                                    <div class="icon-holder">
                                        <i class="bi-file-earmark-text-fill"></i>
                                    </div>
                                </li>

                                <li>
                                    <h4 class="text-white mb-3">Data Vectorization</h4>

                                    <p class="text-white">Processed documents are then converted into vectors embeddings using an AI embedding tool. This is basically converting your textual data into numeric patterns easy to understand for a large language model (LLM) like ChatGPT</p>

                                    <div class="icon-holder">
                                        <i class="bi-file-binary-fill"></i>
                                    </div>
                                </li>

                                <li>
                                    <h4 class="text-white mb-3">Search, Read and Enjoy</h4>

                                    <p class="text-white">Your questions are then passed to an LLM which finds the most relevant documents with vector pattern matching and forms up the final response</p>

                                    <div class="icon-holder">
                                        <i class="bi-book-fill"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faq-section section-padding" id="section_4">
        </section>

        <section class="contact-section section-padding section-bg" id="section_5"  style="display: none;">
        </section>
    </main>

    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand" href="index.html">
                        <i class="bi-journal-bookmark-fill"></i>
                        <span>EVA for Publishing</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-4 col-12 mt-lg-0 ms-auto">
                    <p class="copyright-text mt-3">
                        © Copyright 2023 CABI is a registered EU trademark
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="{{ config['BASE_PATH'] }}static/js/jquery.min.js"></script>
    <script src="{{ config['BASE_PATH'] }}static/js/bootstrap.bundle.min.js"></script>
    <script src="{{ config['BASE_PATH'] }}static/js/jquery.sticky.js"></script>
    <script src="{{ config['BASE_PATH'] }}static/js/click-scroll.js"></script>
    <script src="{{ config['BASE_PATH'] }}static/js/custom.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/powerbi-client/dist/powerbi.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <!-- <script id="mainScript" src="/static/js/main.js"></script>     -->
    <script>
        var BASE_PATH = "{{ config['BASE_PATH'] }}";
    </script>
    <script id="mainScript" src="{{ config['BASE_PATH'] }}static/js/main.js"></script>
</body>
</html>
