{% extends 'base.html' %}

{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <!-- <h2 class="text-white text-center">EVA MEETS PUBLISHING</h2> -->

                <h6 class="text-center">Summarizing Insights: Analysis from 260k Abstracts and 60k Concepts....</h6>

                <form id="message-form" action="#" method="post" class="custom-form contact-form" role="form">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <textarea class="form-control" id="message" name="message" placeholder="Ask me ..."></textarea>
                                <label for="floatingTextarea">Ask me ...</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4 col-md-4 col-12 mt-3 mb-4 mb-lg-0">
                <div class="mt-lg-3 mb-4">
                    <div class="form-group row mt-3">
                        <div class="col-sm-5">
                            <p class="mb-2 model-parameters-label" 
                                title="What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.">
                                Temperature 
                                <i class="bi bi-info-circle-fill"></i>
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <input id="temperSlider" type="range" class="custom-range model-parameters-sliders" id="sliderInput" min="0.2" max="2" step="0.1" value="0.2">
                        </div>
                        <div class="col-sm-2">
                            <span id="temperatureValue" class="badge model-parameters-value rounded-pill ms-auto">0.2</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-5">
                            <p class="mb-2 model-parameters-label" 
                                title="Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.">
                                Frequency Penalty 
                                <i class="bi bi-info-circle-fill"></i>
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <input id="freqPenSlider" type="range" class="custom-range model-parameters-sliders" id="sliderInput" min="-0.2" max="2.0" step="0.10" value="0">
                        </div>
                        <div class="col-sm-2">
                            <span id="frequencyPenaltyValue" class="badge model-parameters-value rounded-pill ms-auto">0</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-5">
                            <p class="mb-2 model-parameters-label" 
                                title="Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.">
                                Presence Penalty 
                                <i class="bi bi-info-circle-fill"></i>
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <input id="presPenSlider" type="range" class="custom-range model-parameters-sliders" id="sliderInput" min="-0.2" max="2.0" step="0.10" value="0">
                        </div>
                        <div class="col-sm-2">
                            <span id="presencePenaltyValue" class="badge model-parameters-value rounded-pill ms-auto">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-12">
                <div class="custom-block custom-block-overlay">
                    <a class="example-questions" href="#">
                        <div class="d-flex flex-column h-100">
                            <img src="{{ config['BASE_PATH'] }}/static/img/agriculture.jpg" class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2">Yield</h5>
                                    <p class="text-white">What statistical methods are effective for analyzing yield and growth characteristics in fruit crops?</p>
                                </div>
                            </div>
                            <div class="section-overlay"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="custom-block custom-block-overlay">
                    <a class="example-questions" href="#">
                        <div class="d-flex flex-column h-100">
                            <img src="{{ config['BASE_PATH'] }}/static/img/deforestation.jpg" class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2">Variability</h5>
                                    <p class="text-white">How do individuals associate shape features with different senses in various contexts?</p>
                                </div>
                            </div>
                            <div class="section-overlay"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="custom-block custom-block-overlay">
                    <a class="example-questions" href="#">
                        <div class="d-flex flex-column h-100">
                            <img src="{{ config['BASE_PATH'] }}/static/img/climatechange.jpg" class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2">Enhancement</h5>
                                    <p class="text-white">How can statistical modeling enhance our understanding of plant structural complexity?</p>
                                </div>
                            </div>
                            <div class="section-overlay"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="custom-block custom-block-overlay">
                    <a class="example-questions" href="#">
                        <div class="d-flex flex-column h-100">
                            <img src="{{ config['BASE_PATH'] }}/static/img/renewableenergy.jpg" class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-overlay-text d-flex">
                                <div>
                                    <h5 class="text-white mb-2">Detection</h5>
                                    <p class="text-white">What challenges are associated with detecting outliers in food science experiments?</p>
                                </div>
                            </div>
                            <div class="section-overlay"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="explore-section section-padding" id="section_2">
    <div class="container">
        <div class="col-12 text-center">
            <a id="user-question-link" href="#">
                <p id="user-question"></p>
                <!-- <p id="user-question">How does molecular epidemiology utilize genetic information to understand disease dynamics in populations?</p> -->
                
            </a>
            <!-- <h2 class="mb-4">Answers</h2> -->
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="text-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6 mb-6 mb-lg-0">
                            <div id="eva-answer-parent" class="custom-block bg-white shadow-lg">
                                <div class="d-flex">
                                    <div>
                                        <h3 class="mb-2">Summary</h3>
                                        <p id="eva-answer" class="mb-0"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6 mb-6 mb-lg-0">
                            <div id="eva-reference-parent" class="custom-block bg-white shadow-lg">
                                <div class="d-flex">
                                    <div>
                                        <h3 class="mb-2">References</h3>
                                        <div id="eva-reference" class="mb-0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 mb-12 mb-lg-0">
                            <div id="report-container-parent" class="custom-block bg-white shadow-lg">
                                <div id="report-container" class="embed-container" tabindex="0"></div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="timeline-section section-padding" id="section_3">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="text-white mb-4">How does it work?</h1>
            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                    <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                        <div class="list-progress">
                            <div class="inner"></div>
                        </div>

                        <li>
                            <h4 class="text-white mb-3">Data Processing</h4>

                            <p class="text-white">Raw data is cleaned, processed and converted into small and summarised documents</p>

                            <div class="icon-holder">
                                <i class="bi-file-earmark-text-fill"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Data Vectorization</h4>

                            <p class="text-white">Processed documents are then converted into vectors embeddings using an AI embedding tool. This is basically converting your textual data into numeric patterns easy to understand for a large language model (LLM) like ChatGPT</p>

                            <div class="icon-holder">
                                <i class="bi-file-binary-fill"></i>
                            </div>
                        </li>

                        <li>
                            <h4 class="text-white mb-3">Search, Read and Enjoy</h4>

                            <p class="text-white">Your questions are then passed to an LLM which finds the most relevant documents with vector pattern matching and forms up the final response</p>

                            <div class="icon-holder">
                                <i class="bi-book-fill"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-section section-padding" id="section_4">            
</section>

<section class="contact-section section-padding section-bg" id="section_5"  style="display: none;">
</section>


<div id="reference-template" style="display: none;">
    <div class="card mb-3" style="display: block;">
        <div class="card-body">
            <p class="card-title">
                <a class="title-anchor" href="#" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                <span class="title-text truncate" data-toggle="tooltip" data-placement="top" title="testtitle"></span>
            </p>
            <div class="row mb-2">
                <div class="col-lg-8 col-md-8  col-8 ">
                    <p class="card-text publisher"><i class="bi bi-journal-bookmark-fill"></i></p>
                </div>
                <div class="col-lg-4 col-md-4 col-4 text-end">
                    <p class="card-text location"><i class="bi bi-geo-alt-fill"></i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9  col-9">
                    <p class="card-subtitle text-muted authors">
                        <span class="badge bg-secondary"></span>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-3 text-end">
                    <a class="toggle-summary">Show Summary</a>
                </div>
            </div>
            <p class="card-text summary-text" style="display: none;"></p>
        </div>
    </div>
</div>



{% endblock %}